body {

    background-color:black;

    padding:2em;

}



h1{

    font-family:sans-serif;

    font-size:20px;

    color:white;

    text-align:center;

}



#calculator{

    display:flex;

    flex-direction:column;

    padding:2em;

    background-color:grey;

    height:100%;

    max-width:30%;

    border-radius:5%;

    margin:auto;

}



#screen{

    height:5em;

    background-color:#688c74;

    border-radius:10%;

    margin:1em;

    width:94%;

}



button{

    width:100%;

    text-align:center;

    height:4em;

    font-weight:800;

}

#keypad{

    display:grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}



.orange{

    background-color:orange;

}

